html, body {
    margin: 0;
    padding: 0;
}

nav {
    background: #232323;
    color: white;
    padding: 0.01%;
    margin: 8px;
    border-radius: 30px;
    display: flex;
    font-size: 12px;
}

nav .tags{
    list-style-type: none;
    display: flex;
    letter-spacing: 17px;
    margin-left: 10px;
}

nav .tags #tag-focus {
    color: red;
}

nav .music {
    flex: 2;
    padding-top: 13px;
    margin-left: 25px;
}

nav .music #line {
    color: yellow;
}
