/* whole page */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url('../audrey.jpg') center center/cover no-repeat;
      	background-attachment: fixed;
}

/* bar */
nav {
	position: relative;
	color: white;
	font-size: 13px;
	font-weight: bold;
}

.container-l, .container-r {
	display: inline flow-root;
	background: black;
	margin: 5px;
	padding: 8px;
}

.container-l:hover, .container-r:hover {
	font-size: 14px;
}

.container-l {
	float: left;
}

.container-r {
	float: right;
}

main {
	display: grid;
}

main .clock {
	position: relative;
	font-size: 100px;
	font-weight: bold;
	color: white;
	margin: 15% auto;
}

main .clock #days {
	font-size: 10px;
}
	

main .terminal {
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid grey;
	position: absolute;
	color: white;
	font-family: monospace;
	font-size: 14px;
	letter-spacing: 3px;
	word-spacing: 2px;
	padding-top: 20px;
	padding-left: 13px;
}

main .terminal:hover {
	border: 1px solid white;
}

#term0 {
	margin-left: 32%;
	margin-top: 28%;
	height: 230px;
	width: 450px;
	display:block;
}

main .terminal #term0 img {
	height: 30%;
	margin-bottom: 15px;
}
